= f.error_notification
= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
.form-inputs
  = f.association :project,
      as: :select,
      label: t('activerecord.models.project.one'),
      label_method:  :title,
      include_blank: false

  = f.input :title,
      placeholder: t('activerecord.models.task.attributes.title.placeholder')

  = f.input :description,
      input_html: { class: 'tinymce', rows: 10, cols: 60 },
      placeholder: t('activerecord.models.task.attributes.description.placeholder')

  = tinymce(uploadimage_form_url: api_tinymce_images_path)

  = f.input :deadline,
      placeholder: t('activerecord.models.task.attributes.deadline.placeholder')

  = f.association :priority,
    as: :select,
    label: t('activerecord.models.priority.one'),
    include_blank: false

  = f.association :status,
      as: :select,
      label: t('activerecord.models.status.one'),
      label_method:  :title,
      include_blank: false
