<script>
$("#defaultUnchecked<%= task.id %>").click(function(e, parameters) {

    let nonUI = false;
    try {
        nonUI = parameters.nonUI;
    } catch (e) {}
    let checked = nonUI ? !this.checked : this.checked;
    $("#edit_task_<%= task.id %>").submit();
});
</script>