= simple_form_for([project,@task]) do |f|
  .row
    .col-12
      .input-group.input-group-lg
        = f.text_field :title,as: :string, class: "form-control",  placeholder: t('activerecord.models.task.create_new')
        = f.hidden_field :project_id, value: project.id
        .input-group-prepend
          %span.input-group-text{id: "inputGroup-sizing-lg"}
            .plus.text-primary
              = f.submit ''
