%button.btn.btn-p.text-primary{type: "button",data:{"toggle" => "modal", "target" => "#Modaltaskshow#{task.id}" }}
  %i.fa.fa-file-text.fa-sm{"aria-hidden" => "true"}


-#Modal
.modal.fade{id: "Modaltaskshow#{task.id}",tabindex:"-1", role: "dialog", aria:{"labelledby" => "ModalLabel#{task.id}", "hidden" => "true" }}
  .modal-dialog.modal-dialog-centered.modal-lg{role: "document"}
    .modal-content
      .modal-header
        %h2.modal-title.text-muted
          .show_project
            = project.title
        %button.close{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
          %span{"aria-hidden" => "true"}
            &times;
      .modal-header
        %h6.modal-title.text-muted{id: "ModalLabel#{task.id}"}
          .row
            .col-4
              =t("activerecord.models.status.one")+":"+" "+task.status.title.to_s
            .col-4
              =t("activerecord.models.priority.one")+":"+" "+task.priority.title.to_s
            .col-4
              =t("activerecord.models.task.attributes.deadline.placeholder")+":"+" "+task.deadline.to_s

      .modal-body.text-muted{style: "text-align: left"}
        .show_task_title
          = task.title
        .show_task_description
          = task.description.to_s.html_safe
      .modal-footer
        %h6.modal-title.text-muted
        .modal-footer
        %h6.modal-title.text-muted{style: "text-align: left"}
          %button.btn.btn-primary{type: "button","data-dismiss" => "modal" }
            Close
