= simple_form_for(@project,html: { class: 'col-sm-12' }) do |f|
  .container.bg-faded
    %p.pt-4
    .card.border-muted.shadow.col-lg-6{style: "background-color: #f0f8ff"}
      .card-header.bg-transparent.border-muted
        %h4
          = t('activerecord.models.project.edit')
      .card-body.text-primary
        = render partial: "form", locals: { f: f }
      .card-footer.bg-transparent.border-muted
        .row
          .col-2
            = link_to t(:cancel), projects_path, class: 'btn btn-danger'
          .col-10{style: 'text-align: right'}
            %p=  f.submit t('save')