.container.bg-faded
  %p.pt-4
  .card.border-muted.shadow.lg-12{ id: "projects_sortable", data:{ "update-url" => sort_projects_path() }, style: "background-color: #f0f8ff" }
    = render 'header'
    - @projects.each do |project|
      .card-body.text-primary{id: "project_#{project.id}"}
        .row
          .col-1
            %i.handle.fa.fa-list-alt.fa-2x
          .col-9
            %a{href: "#"}
            .card-link.text-dark
            %h4
              = project.title
          .col-2{style: "text-align: right" }
            %span
              = link_to raw('<i class="fa fa-pencil-square-o fa-lg"></i>'), edit_project_path(project),
                class: 'btn.btn-p.text-primary',
                title: t('edit')
              = link_to raw('<i class="fa fa-trash-o fa-lg"></i>'), project_path(project),
                class: 'btn.btn-p.text-primary',
                method: :delete,
                data: {confirm: 'Are you sure to remove this project?'},
                title: t('delete')
        = render partial: 'new_task_form', locals: {project: project}
        %hr
        - project.tasks.each do |task|
          = render partial: 'index_task_form', locals: {project: project, task: task}
    %div.pt-2{style: "text-align: center;"}
      %a{href: new_project_path}
        %button.btn.btn-primary
          %i.fa.fa-plus.fa-lg
          Add TODO List
    = render 'footer'