button.btn.btn-p {
  padding: 0;
  margin: 0;
}

input[type=submit] { @extend .btn; @extend .btn-primary; }

.plus input[type=submit] { @extend .btn; @extend .btn-link; height: 27px; }
.plus input[type=submit]:hover { @extend .btn; @extend .btn-link; height: 27px; }

.plus {
  position: relative;
}

.plus:after {
  font-family: FontAwesome;
  content: "\f067";
  font-size: 27px;
  position: absolute;
  right: 1px;
  top: -3px;
  pointer-events: none;
}

.show_project{
  width: auto; 
  white-space: pre-wrap;
  margin-top: -40px;
}

.show_task_title {
  width: auto; 
  white-space: pre-wrap;
  margin-top: -40px;
  font-weight: bold;
}

.show_task_description {
  width: auto;
  white-space: pre-wrap;
}

.handle{
  cursor: move
}